*~
*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.codeintel/
*development.cfg
bin/
develop-eggs/
downloads/
eggs/
include/
lib/
parts/
var/
Gruntfile.js
node_modules/
package-lock.json
package.json
pip-selfcheck.json
